body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
}

.td {
    font-style: inherit;
    text-align: left;
    font-size: 30px;
}